<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myapp.board.mapper.BoardMapper">

	<sql id="selectBoardColumns">
		NUM, TITLE, CONTENT, WRITER, VISIT_CNT, NOTICE_YN, DELETE_YN, SECRET_YN
		, date_format(INSERT_TIME, '%Y-%m-%d %T') as INSERT_TIME
		, date_format(UPDATE_TIME, '%Y-%m-%d %T') as UPDATE_TIME
		, date_format(DELETE_TIME, '%Y-%m-%d %T') as DELETE_TIME
	</sql>
	
	<sql id="boardColumns">
		NUM, TITLE, CONTENT, WRITER, VISIT_CNT, NOTICE_YN, DELETE_YN, SECRET_YN, INSERT_TIME, UPDATE_TIME, DELETE_TIME
	</sql>
	
	<select id="selectBoardListCount" parameterType="BoardDTO" resultType="Integer">
		SELECT COUNT(*)
		FROM TB_BOARD
		WHERE DELETE_YN = 'N'
		<include refid="commonMapper.search" />
	</select>
	
	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
		SELECT <include refid="boardColumns" />
		FROM TB_BOARD
		WHERE DELETE_YN = 'N'
		<include refid="commonMapper.search" />
		ORDER BY NOTICE_YN ASC, NUM DESC, INSERT_TIME DESC
		<include refid="commonMapper.paging" />
	</select>
	
	<insert id="insertBoard" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="num">
		INSERT INTO TB_BOARD 
		(
			<include refid="boardColumns" />
		) 
		VALUES 
		(
			  #{num}
			, #{title}
			, #{content}
			, #{writer}
			, 0
			, IFNULL(#{noticeYn}, 'N')
			, 'N'
			, IFNULL(#{secretYn}, 'N')
			, NOW()
			, NULL
			, NULL
		)
	</insert>
	
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE TB_BOARD
		SET UPDATE_TIME = NOW()
		<if test='writer != null and !writer.equals("")'>
			, WRITER = #{writer}
		</if>
		<if test='title != null and !title.equals("")'>
			, TITLE = #{title}
		</if>
		<if test='content != null and !content.equals("")'>
			, CONTENT = #{content}
		</if>
		, NOTICE_YN = IFNULL(#{noticeYn}, 'N')
		, SECRET_YN = IFNULL(#{secretYn}, 'N')
		WHERE NUM = #{num}
	</update>
	
	<update id="updateBoardVisitCnt" parameterType="long">
		UPDATE TB_BOARD 
		SET VISIT_CNT = VISIT_CNT+1
		WHERE NUM = #{num}
	</update>
	
	<select id="selectBoard" parameterType="long" resultType="BoardDTO">
		SELECT <include refid="boardColumns" />
		FROM TB_BOARD
		WHERE NUM = #{num}
		AND DELETE_YN = 'N'
	</select>
	
	<update id="deleteBoard" parameterType="long">
		UPDATE TB_BOARD
		SET DELETE_TIME = NOW()
		, DELETE_YN = 'Y'
		<if test='writer != null and !writer.equals("")'>
			, WRITER = #{writer}
		</if>
		WHERE NUM = #{num}
	</update>
</mapper>